*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    color: white;
    padding: 0.3rem 1rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.text-aline{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* HEADER */

header{
    background-color: rgb(0, 132, 253);
    height: 60px;
}

nav{
    max-width: 1516px;
    margin: 0 auto;
    
}

.button{
    border: none;
    padding: 0.4rem;
    border-radius: 20px;
}

.button-white{
    background-color: white;
}

/* ?MAIN */

/* !SECTION ONE */

span.blu{
    color: rgb(0, 132, 253);
    font-size: 1.2rem;
}

span.simbol{
    text-align: center;
}

.fa-solid.fa-file-code{
    color: rgb(0, 132, 253);
    font-size: 4rem;
    margin-top: 1rem;
}

.fa-solid.fa-compass-drafting{
    color: rgb(0, 132, 253);
    font-size: 4rem;
    margin-top: 1rem;
    
}

.fa-solid.fa-laptop-code{
    color: rgb(0, 132, 253);
    font-size: 4rem;
    margin-top: 1rem;

}

.fa-sharp.fa-solid.fa-bullhorn{
    color: rgb(0, 132, 253);
    font-size: 4rem;
    margin-top: 1rem;
    
}

div.grey{
    color: rgb(90, 110, 127);
    font-size: 1.2rem;
    padding-top: 0.7rem
}

h4{
    margin-bottom: 1rem;
}

h5{
    color: rgb(0, 132, 253);
    font-size: 1.2rem;
    margin-top: 1rem;
    
}

p{
    line-height: 1.6rem;
    margin-top: 1rem;
    text-align: center;
}

section.one{
    max-width: 1030px;
    margin: 0 auto;
}

div.row{
    width: 100%;
    margin-top: 3rem;
    gap: 1.5rem;
}

div.card{
    width: 100%;
    background-color: rgb(181, 221, 225);
    height: 250px;
    border-radius: 20px;
}

div.apple{
    width: 50%;
    padding: 1rem;

}

div.phone{
    width: 50%;
    height: 100%;
    background-image: url("./img/phone.png");
    background-size: cover;
    
}

button.button.button-blue{
    background-color: rgb(0, 132, 253);
    color: white;
    padding: 0.5rem 2rem;
    margin-top: 1.5rem;
}


/* !SECTION TWO */

section.two{
    background-color: rgb(151, 146, 228);
    margin-top: 4rem;
    padding-bottom: 9rem;
}

div.container{
    max-width: 1030px;
    padding: 0 2rem;
}

div.col{
    width: 100%;
    height: 400px;
}

div.img img{
    width: 237px;
    height: 200px;
}

div.box img{
    width: 200px;
    height: 200px;
    
}

div.paragraph h2{
    color: white;
}

div.testimonial{
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

p.white{
    color: white;
    text-align: start;
}

div.box h6{
    font-size: 1.3rem;
}

div.box{
    background-color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 3rem;
    padding-top: 2rem;
    margin-top: 5rem;
}

.fa-solid.fa-arrow-down{
    background-color: rgb(151, 146, 228);
    padding: 0.5rem;
    border-radius: 6rem;
    margin: 1rem 0 ;
}

/* !SECTION THREE */

div.text{
    text-align: center;
}

h3{
    margin: 2rem 0;
}

h1.testimonial{
    color: black;
    padding: 2rem 0;
}

p.black{
    color: black;
}

span.violet{
    margin-bottom: 2rem;
    color: rgb(151, 146, 228);
    font-size: 2.3rem;
}

div.elenc{
    width: 100%;
    background-color: rgb(151, 146, 228);
    border-radius: 2rem;
    margin: 1.5rem 0;
}

div.testimonial img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.5rem;
    margin-top: 1rem;
}

div.descrition h2{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: white;
    padding-bottom: 2rem;
}

div.descrition p{
    color: white;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

/* !SECTION FOUR */

section.four{
    background-color:  rgb(151, 146, 228);
}

div.text h2{
    color: white;
    padding: 2.5rem 0 ; 
    font-size: 3rem;
}

span.violet{
    font-size: 3rem;
}

div.card.card-white h3{
    color:rgb(151, 146, 228);
    margin: 1rem 0;
}

div.card.card-white p{
    color: grey;
    text-align: start;
}

div.row{
    margin-bottom: 2rem;
}

div.card.card-white{
    width: 100%;
    height: 340px;
    padding: 2rem;
    text-align: start;
    background-color: white;
}

.button-violet{
    background-color: rgb(151, 146, 228);
    padding: 0.5rem 3rem;
    margin-top: 0.8rem;
    color: white;
}

/* !SECTION FIVE */



div.square h2{
    color: rgb(151, 146, 228);
    font-size: 2.5rem;
}

div.square p{
    text-align: start;
    line-height: 2rem;
}

div.square{
    width: 100%;
    
    margin-top: 2rem;
}

div.square-img{
    width: 100%;
    
}

div.square-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

div.square-img p{
    font-size: 1.5rem;
    color: rgb(151, 146, 228);
}

/*!SECTION SIX*/

section.six{
    background-color:  rgb(151, 146, 228);
}

div.into{
    max-width: 460px;
}

span.gold{
    color: rgb(253, 193, 95);
    font-size: 5rem;
}

div.text p{
    color: white;
    
}

div.text h2{
    padding-top: 0.3rem;
}

div.text h3 {
    color: white;
    padding-top: 2rem;
}

button.button-big{
    color: rgb(151, 146, 228);
    padding: 1rem 3rem;
    margin-top: 1rem;
    background-color: white;
}

/* ?FOOTER */

footer{
    background-color: rgb(51, 51, 51);
    color: white;
}

div.end{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.purple{
    font-size: 1rem;
    color: rgb(151, 146, 228);
}

/* MEDIA QUERY */

@media screen and (min-width: 480px){
/*!SECTION ONE  */

    div.card{
        width: calc( 100%  / 3 - 1.5rem);
        background-color: rgb(181, 221, 225);
        height: 250px;
        border-radius: 20px;
    }
    
    div.card-big{
        width: calc( (100% / 3) * 2 );
    }

    
    
/* !SECTION TWO */

    div.col{
        width: 100%;
        height: 400px;
        margin: 2rem 0;
    }



/* !SECTION THREE */

    div.elenc{
        display: flex;
        width: 100%;
        background-color: rgb(151, 146, 228);
        border-radius: 2rem;
        margin: 1.5rem 0;
    }

    div.testimonial img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-left: 1.2rem;
        margin-right: 2rem;
    }
    

/*!SECTION FOUR  */
    div.card.card-white{
        width: 45%;
        background-color: white;

}



/* !SECTION FIVE */

div.square{
    width: 65%;
    margin-top: 2rem;
}

div.square-img{
    width: 35%;
}
}       


@media screen and (min-width: 768px){
    div.col{
        width: 100%;
    }

    div.container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.square{
    width: 40%;
    margin-top: 2rem;
}

    div.square-img{
    width: 20%; 
}
}

@media screen and (min-width: 1040px){
    div.container{
        display: flex;
        justify-content: center;
    }
    div.col{
        width: 34%;
        height: 400px;
        
        margin: 2rem 0;;
    }
/* !SECTION FOUR */

div.card.card-white{
    width: calc( 100%  / 3 - 1.5rem);
    background-color: white;
    
    border-radius: 20px;
}


/* !SECTION FIVE */
    div.square{
        width: 65%;
        margin-top: 2rem;
    }
    
        div.square-img{
        width: 25%;

    }
}